<p>Wind Status</p>
<!-- <div>
  <canvas
    id="canvas"
    baseChart
    [datasets]="windChartData"
    [labels]="windChartLabels"
    [options]="windLineChartOptions"
    [legend]="windChartLegend"
    [type]="windChartType"
  ></canvas>
  <canvas
    id="canvas"
    baseChart
    [datasets]="windChartData"
    [labels]="windChartLabels"
    [options]="windBarChartOptions"
    [legend]="windChartLegend"
    [type]="windBarChartType"
  ></canvas>
</div> -->
<p class="font-size-4">
  <span class="font-size-2">{{ windSpeedList[0] }}</span
  >km/h
</p>
<p class="font-size-4">{{ time }}</p>
