<div class="overlay">
  <p class="font-size-4 title">Today's Highlights</p>
  <app-wind-status class="square-type-1"></app-wind-status>
  <app-uv-index class="square-type-1"></app-uv-index>
  <div class="square-type-1 sunrise-sunset">
    <p>Sunrise & Sunset</p>
    <p>Grabest ph</p>
    <div>
      <p>7.90mph</p>
      <p>5:01AM</p>
    </div>
  </div>
  <div class="square-type-2 humidity">
    <p>Humidity</p>
    <div>
      <p>84%</p>
      <div>
        <p>Icon</p>
        <p>The dew point is 27dg right now.</p>
      </div>
    </div>
  </div>
  <div class="square-type-2 visibility">
    <p>Visibility</p>
    <div>
      <p><span>03</span>km</p>
      <div>
        <p>Icon</p>
        <p>Haze is affecting Visibility</p>
      </div>
    </div>
  </div>
  <div class="square-type-2 feels-like">
    <p>Feels Like</p>
    <div>
      <p>42%</p>
      <div>
        <p>Icon</p>
        <p>Humidity is making it feel hotter.</p>
      </div>
    </div>
  </div>
</div>
